<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

    <arg name="external_manager" default="false" />
    <arg name="manager" default="softwares_manager" />
    <arg name="is_bag" default="true" />
    <arg name="roomba" default="roomba1" />
    <arg name="use_colors" default="" />

    <arg name="bag_file" default="/home/ren/bagfiles/roomba/color_fix_20210916/$(arg roomba).bag" />
    <arg name="option" default="" />
    <arg name="rviz_config" default="$(find multi_robots)/rviz/fix_color_$(arg roomba).rviz" />

    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg option) $(arg bag_file)" required="true" />
    <node pkg="map_server" type="map_server" name="map_server" args="$(find roomba_visualizer)/map/map.yaml" />

    <group ns="$(arg roomba)" >
        <node unless="$(arg external_manager)" pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />
        <node pkg="nodelet" type="nodelet" name="theta_s_converter" args="load theta_s_ros/image_converter_nodelet $(arg manager)">
            <remap from="camera/image_raw" to="theta_s/image_raw" />
            <remap from="equirectangular/image_raw" to="equirectangular/image_raw" />
        </node>

        <node pkg="nodelet" type="nodelet" name="image_editor_nodelet" args="load image_editor/image_editor_nodelet $(arg manager)">
            <param name="roomba" value="$(arg roomba)" />
            <rosparam command="load" file="$(find multi_robots)/config/image_editor.yaml" />
            <remap from="camera/image_raw" to="theta_s/image_raw" />
            <remap from="equirectangular/image_raw" to="equirectangular/image_raw" />
            <remap from="equirectangular/cv_image_edited" to="equirectangular/corrected/image_raw" />
        </node>

        <node name="theta_s_republish" pkg="image_transport" type="republish" args="compressed raw">
            <remap from="in" to="theta_s/image_raw" />
            <remap from="out" to="theta_s/image_raw" />
        </node>

        <node name="depth_republish" pkg="image_transport" type="republish" args="compressed raw">
            <remap from="in" to="camera/aligned_depth_to_color/image_raw" />
            <remap from="out" to="camera/aligned_depth_to_color/image_raw" />
        </node>

        <node name="color_republish" pkg="image_transport" type="republish" args="compressed raw">
            <remap from="in" to="camera/color/image_rect_color" />
            <remap from="out" to="camera/color/image_rect_color" />
        </node>

        <arg name="image_raw_topic" default="theta_s/image_raw" />
        <node pkg="theta_s_ros" type="image_converter" name="converter">
            <remap from="/camera/image_raw" to="$(arg image_raw_topic)" />
            <remap from="/equirectangular/image_raw" to="equirectangular/image_raw" />
        </node>

        <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb" args="load depth_image_proc/point_cloud_xyzrgb $(arg manager)">
            <remap from="rgb/camera_info" to="camera/color/camera_info" />
            <remap from="rgb/image_rect_color" to="camera/color/image_rect_color" />
            <remap from="depth_registered/image_rect" to="camera/aligned_depth_to_color/image_raw" />
            <remap from="depth_registered/points" to="camera/depth_registered/points" />
        </node>

        <node pkg="nodelet" type="nodelet" name="color_detector" args="load color_detector/color_detector_nodelet $(arg manager)">
            <rosparam command="load" file="$(find multi_robots)/config/hsv.yaml" />
            <rosparam command="load" file="$(find multi_robots)/config/image_hsv/roomba1_hsv.yaml" />
            <rosparam command="load" file="$(find multi_robots)/config/image_hsv/roomba2_hsv.yaml" />
            <rosparam command="load" file="$(find multi_robots)/config/image_hsv/roomba3_hsv.yaml" />
            <rosparam command="load" file="$(find multi_robots)/config/image_hsv/roomba4_hsv.yaml" />
            <rosparam command="load" file="$(find multi_robots)/config/image_hsv/roomba5_hsv.yaml" />
            <rosparam command="load" file="$(find multi_robots)/config/image_hsv/roomba6_hsv.yaml" />
            <rosparam command="load" file="$(find multi_robots)/config/color_detector.yaml" />
            <remap from="equirectangular/image_raw" to="equirectangular/corrected/image_raw" />
            <param name="USE_COLORS" value="$(arg use_colors)" />
            <param name="ROOMBA" value="$(arg roomba)" />
        </node>
    </group>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
</launch>