<?xml version="1.0"?>
<launch>
    <!-- local_path_planner -->
    <node pkg="chibi20_2" type="local_path_planner" name="local_path_planner" output="screen">
        <param name="hz" value="10" type="int"/>
        <param name="max_linear_velocity" value="0.5" type="double"/>
        <param name="max_angular_velocity" value="0.5236" type="double"/>
        <param name="max_linear_acceleration" value="0.05" type="double"/>
        <param name="max_angular_acceleration" value="0.5236" type="double"/>
        <param name="dx" value="0.05" type="double"/>
        <param name="da" value="0.0872665" type="double"/>
        <param name="dt" value="0.50" type="double"/>
        <param name="sim_time" value="6.0" type="double"/>
        <param name="sigma_velocity" value="1.5" type="double"/>
        <param name="sigma_angular" value="2.4" type="double"/>
        <param name="k_heading" value="1.25" type="double"/>
        <param name="k_distance" value="1.4" type="double"/>
        <param name="k_velocity" value="1.0" type="double"/>
        <param name="pick_up_time" value="4.0" type="double"/>
        <param name="search_range_time" value="6.0" type="double"/>
    </node>
</launch>
