<?xml version="1.0"?>
<launch>
    <arg name="roomba" default="roomba1" />
    <!-- <arg name="bagfile" default="roomba.bag" /> -->

    <!-- setup_devices -->
    <include file="$(find multi_robots)/launch/setup_devices.launch" >
        <arg name="roomba" value="$(arg roomba)" />
    </include>

    <!-- map_server -->
    <arg name="map_file" default="$(find chibi20_2)/mapdata/map.yaml"/>
    <node pkg="map_server" type="map_server" name="global_map"  args="$(arg map_file)"/>

    <!-- global_path_planner -->
    <!-- <node pkg="chibi20_2" type="global_path_planner" name="global_path_planner" output="screen" /> -->
    <node pkg="chibi20_2" type="a_star_planner" name="a_star_planner" output="screen" >
        <param name="map_topic_name" value="map" />
        <param name="path_topic_name" value="global_path" />
        <rosparam command="load" file="$(find chibi20_2)/config/a_star_planner/param/a_star_planner.yaml" />
        <rosparam command="load" file="$(find chibi20_2)/config/a_star_planner/waypoints/waypoints_list.yaml" />
        <rosparam command="load" file="$(find chibi20_2)/config/a_star_planner/waypoints/route_list.yaml" />
    </node>

    <!-- map_maneger -->
    <!-- <node pkg="chibi20_2" type="map_maneger" name="map_maneger" output="screen"/> -->

    <arg name="hz" default="10" />
    <arg name="robot_radius" default="0.30" />
    <arg name="margin" default="15" />
    <!-- <arg name="laser_frame" default="" /> -->
    <!-- pole_eliminator -->
    <node pkg="pole_eliminator" type="pole_eliminator" name="pole_eliminator">
        <remap from="scan" to="scan" />
        <param name="HZ" value="$(arg hz)" />
        <param name="ROBOT_RADIUS" value="$(arg robot_radius)" />
        <param name="MARGIN" value="$(arg margin)" />
        <param name="LASER_FRAME" value="$(arg roomba)/laser" />
    </node>

    <!-- localizer -->
    <node pkg="chibi20_2" type="localizer" name="localizer" output="screen">
        <rosparam file="$(find chibi20_2)/config/param/localizer.yaml" command="load" />
    </node>

    <!-- local_goal_creator -->
    <node pkg="chibi20_2" type="local_goal_creator" name="local_goal_creator" output="screen">
        <param name="NUM_OF_LAPSES" value="1" type="int" />
    </node>

    <!-- local_map_creator -->
    <node pkg="chibi20_2" type="local_map_creator" name="local_map_creator" output="screen"/>

    <!-- bagfile -->
    <node pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/amsl/$(arg roomba).bag /camera/aligned_depth_to_color/image_raw/compressed /camera/color/camera_info /camera/color/image_rect_color/compressed /theta_s/image_raw/compressed /roomba/odometry /scan /tf /tf_static" />

</launch>
