<?xml version="1.0"?>
<launch>
    <arg name="amcl_config" default="$(find roomba_visualizer)/config/amcl.yaml" />
    <arg name="roomba" default="roomba" />

    <node pkg="pole_eliminator" type="pole_eliminator" name="pole_eliminator" >
        <param name="laser_frame_id" value="$(arg roomba)/laser" />
    </node>
    <node pkg="amcl" type="amcl" name="amcl" output="screen" >
        <rosparam command="load" file="$(arg amcl_config)" />
        <param name="base_frame_id" value="$(arg roomba)/base_link" />
        <param name="odom_frame_id" value="$(arg roomba)/odom" />
        <remap from="scan" to="corrected_scan" />
        <remap from="map" to="map" />
    </node>
    <node pkg="roomba_visualizer" type="roomba_visualizer_node" name="roomba_visualizer" >
        <param name="ROOMBA" value="$(arg roomba)" />
    </node>
</launch>
