<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

    <arg name="bag_file" default="/home/amsl/bagfiles/six_roomba_20210429/six_roomba_4_2021-04-29-18-56-19.bag" />
    <arg name="bag_option" default="--clock -l" />
    <arg name="rviz_config" default="/home/amsl/catkin_ws/src/multi_robots/rviz/theta_s.rviz" />

    <node pkg="rosbag" type="play" name="rosbag_play" args="$(arg bag_file) $(arg bag_option)" output="screen" />

    <include file="$(find color_detector)/launch/run_color_detector_node.launch" >
        <arg name="is_bag" default="true" />
        <arg name="use_colors" default="green" />
    </include>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
</launch>
